<div id="navbar">
    <ul>
        <li id="site-master"><a href="http://www.langdebuqing.com">浪的不轻</a></li>
        <li><a class="navbar-item" href="http://www.langdebuqing.com/gallery.html">Gallery</a> </li>
        <li><a class="navbar-item" href="http://www.langdebuqing.com/notebooks.html">Notebooks</a> </li>
        <li><a class="navbar-item" href="http://www.langdebuqing.com/links.html">Links</a> </li>
        <li><a class="navbar-item" href="http://www.langdebuqing.com/about.html">About</a> </li>
        <li class="search">
            <form action="http://google.com/search" method="get" accept-charset="utf-8">
                <input type="search" id="search" name="q" autocomplete="off" maxlength="30" placeholder="Google..">
                <input type="hidden" name="q" value="site:www.langdebuqing.com">
            </form>
        </li>
    </ul>
</div>
